<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Category Delete</title>
	</head>
	<body>
        <%-include('./nav') %>
		<h1><%= title %></h1>
		<h2>Are you sure you want to delete <u><%= category.name %></u>?</h2>
		<h1>Delete the following items before attempting to delete the category</h1>
        <ul>
		<% for (let item of items) { %>
            <li><%= item.name %></li>
            <% } %>
        </ul>
		<form method="POST">
			<input class="form-control" type="hidden" name="categoryid" value="<%= category._id %>" />
			<button type="submit">Delete</button>
		</form>
	</body>
</html>
